*.py[cod]
*.swp
*.*~
*.kate-swp
*.tmproj
.*
*.sublime-*


dist/
build/
*.egg-info
.env/
*.lock

#test project
local_settings.py
django_hello_world/static/
django_hello_world/media/
*.db
*.dat

!.gitignore